	#container {
			width: 960px;
			margin: 0 auto;
		}
		#p1 {
			color: orange;
		}
		#p2 {
			color: blue;
		}
		#p3 {
			color: yellow;
		}
		#p4 {
			color: red;
		}
		#p5 {
			color: purple;
		}
		#p6 {
			color: orange;
		}
		#p7 {
			color: black;
		}
		#p8 {
			color: maroon;
		}
		#p9 {
			color: orange;
		}
		#p10 {
			color: purple;
		}

